#main-container {
    position: fixed;
    top: 15%;
    bottom: 15%;
    left: 0;
    right: 0;
    display: flex;
}

#left-container,
#right-container {
    height: 100%;
    padding: 0 2rem;
}

#left-container {
    display: flex;
    align-items: center;
    gap: 5px;
    aspect-ratio: 1;
}

#song-cover,
#song-video {
    height: 90%;
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 1;
}

#song-video {
    visibility: hidden;
    pointer-events: none;
    width: 10%;
}

#song-cover {
    width: 100%;
}

img {
    width: max-content;
    height: 100%;
}

#right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#song-info {
    display: flex;
    gap: 10px;
    margin: 2rem 0;
    text-align: center;
    color: white;
    font-size: calc(12px + 1vh);
}

#lyrics {
    text-align: center;
    overflow: auto;
    margin-bottom: 2rem;
    line-height: 2rem;
}

#lyrics p span {
    opacity: 0.2;
}

#artist-name {
    font-weight: 600;
}

#song-title {
    font-weight: 400;
}

.lyrics-line {
    transition: opacity 0.5s ease;
}